*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
}

#background{
   
}

.contenedor{
    height: 80px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.logo_background{
    width: 110px;
    margin-top: -20px;
    float: left;
}

.ul_list, .contenedor label, .contenedor input{
    float: right;
}

.contenedor label, .contenedor input{
    display: none;
    
}


.ul_list .nav_list{
    display: inline;
    
    font-size: 30px;
    padding: 0px 20px 0px 20px;
}