*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: white;
}




.contenedor{

    height: 80px;
    padding: 10px;
    color: white;
}

.logo_background{
    width: 110px;
    margin-top: -15px;
    float: left;
}

label{
    margin-top: 5px;
    font-size: 40px;
}


.ul_list, .contenedor label, .contenedor input{
    float: right;
}

.contenedor label, .contenedor input{
    display: none;
    
}

.contenedor_imagen .background{
    position:absolute;
}

.icono_whatsapp{
    width: 120px;
    position: fixed;
    margin-top:42%;
    
}



/*MEDIA QUERIES (RESPONSIVE)*/
@media(max-width: 767px){

    .contenedor .ul_list{
        width: 100%;
        
    }
.contenedor label{
    display: block;
}

.contenedor .nav_list strong{
    display: block;
    border-bottom: solid 1px;
    margin-left: 20px;
    margin-bottom: -25px;
    }


.contenedor .ul_list{
    transform: translateX(-110%);
}

.contenedor input:checked ~ .ul_list{
    transform: translateX(0);
    transition:all .5s;
}

.nav_list .ul_actividades{
    position: relative;
    margin-top: 30px;
    margin-left: 10%;
    padding: 0px;
    margin-bottom: -40px;
}

.nav_list .ul_reservas{
    position: relative;
    margin-top: 30px;
    margin-left: 10%;
    padding: 0px;
    margin-bottom: -40px;
    
}

.nav_list .ul_actividades .li_actividades{
    border-bottom: solid 1px;
    
}

.nav_list .ul_reservas .li_actividades{
    border-bottom: solid 1px;
    
}


}   
/*AQUI TERMINA EL MEDIA QUERIE*/

.ul_list{
    margin-top: 10px;
    margin-right: 20px;
}

.ul_list .nav_list{
    display: inline;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
}


.ul_actividades{
    font-size: 30px;
    position: absolute;
    margin-left: 120px;
    display: none;
}

.contenedor .ul_list li:hover > .ul_actividades{
    display: block; 
}

.ul_reservas{
    font-size: 30px;
    position: absolute;
    margin-left: 275px;
    display: none;
}

.contenedor .ul_list li:hover > .ul_reservas{
    display: block;
}

/*HERO*/        

.hero{
    width: 100%;
    /*Alto de 100vh que es 1 pantalla*/
    height: 100vh;
    background-image: url(/assets/background2.jpeg);
    background-position: center;
    background-repeat: no-repeat;

    /*Cubreme el tamaño del hero*/
    background-size: cover;
    background-attachment: fixed;
    margin-top: -100px;

}