*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}

.header_villaStephy{
    background-color: rgb(123, 228, 160);
}

.header_villaStephy .titulo_header{
    color: white;
    width: 200px;
    padding: 0px 10px 0px 10px;
    
}
